@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.src {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border: solid 0 0 20px #ff00d4, 0 0 40px #000000, 0 0 60px #00FF00;
    box-shadow: 0 0 20px #f100c9, 0 0 40px #ff00d4, 0 0 200px #cf00cf;
    filter: drop-shadow(0 0 10px #f500e9);
    border-radius: 2vh;
}

.teste {
    position: absolute;
    width: 10vw;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(224, 55, 247);
    border: none;
    font-size: 16px;
    top: 61%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 20px #f100c9, 0 0 40px #ff00d4, 0 0 600px #cf00cf;
}

.novoBotao {
    position: absolute;
    width: 10vw;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(224, 55, 247);
    border: none;
    font-size: 16px;
    top: 83%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: "Rubik Glitch", system-ui;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 20px #f100c9, 0 0 40px #ff00d4, 0 0 600px #cf00cf;
}

.text-overlay {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    position: absolute;
    white-space: nowrap;
    z-index: -1;
}